body {
    background-image: url(../images/alaska.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    text-align:center;
    color: #31658a;
}

h3 {
    text-align:center;
    background-color:#31658a;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    padding: 10px;
}

.news {
    width:70%;
    margin:auto;
    background: #f0f4f7;
    padding: 0 0 5px 0 ;
}

.news p {
    padding: 0 10px 0 20px;
    text-align: justify;
}

.news p.comment_display {
    clear: both;
}

.comments {
    background-color:#f0f4f7;
    margin-top:0px;
    padding: 20px;
    text-align: justify;
    width:68%;
    margin:auto;
}

.comments h2 {
    color: #31658a;
}


a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.post_comment {
    background-color:#31658a;
    padding: 20px;
    width:68%;
    margin:auto;
    color: #fff;
}

.post_comment h2 {
    color: #fff;
}


.form input {
    margin-top:20px;
    padding: 20px;
}



.link_admin {
text-align:center;
    background-color:#31658a;
    color:white;
    margin-top:0px;
    padding: 20px;
    width:68%;
    margin:auto;

}

.link_admin a {
    text-align:center;
    color: #ffffff;
    padding: 20px;

}

.link_admin a:hover {
    text-align:center;
    color: red;
    padding: 20px;

}
